# Ignore all node_modules folders globally
**/node_modules/

# Environment variables
.env

# OS-specific
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/

